
.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  .head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  #result {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .operator {
    background-color: #f0f0f0;
  }
  
